# reusable workflow triggered by other actions
name: CI

on:
  workflow_call:

jobs:

  lint:
    name: Lint Check
    runs-on: ubuntu-24.04

    steps:
    - name: Check out code
      uses: actions/checkout@v5

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-pip tox

    - name: Lint code
      run: tox -e lint

  unit:
    name: Unit Test
    runs-on: ubuntu-24.04

    steps:
    - name: Check out code
      uses: actions/checkout@v5

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-pip tox

    - name: Run unit tests
      run: tox -e unit

  integration:
    name: Integration Test
    runs-on: ubuntu-24.04

    steps:
    - name: Check out repo
      uses: actions/checkout@v5

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Setup operator environment
      run: |
        sudo apt-get remove -y docker-ce docker-ce-cli containerd.io || true
        sudo rm -rf /run/containerd || true

        python -m pip install --upgrade pip
        python -m pip install tox

        sudo snap install --classic concierge
        sudo concierge prepare -p k8s

    - name: Run integration tests
      run: tox -vve integration

    # On failure, capture debugging resources
    - name: Get all
      run: kubectl get all -A
      if: failure()

    - name: Describe deployments
      run: kubectl describe deployments -A
      if: failure()

    - name: Get juju status
      run: juju status
      if: failure()

    - name: Get velero-integrator logs
      run: juju debug-log --replay --include velero-integrator/0
      if: failure()
